title: Meddbase API Documentation
description: Documentation for the APIs used to interact with Meddbase
theme: just-the-docs

url: https://just-the-docs.github.io

logo: "/assets/images/logo.svg"
favicon_ico: "/assets/images/favicon.ico"
color_scheme: meddbase-light

# For copy button on code
enable_copy_code_button: true

callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red
  deprecated:
    color: red